[submodule "42_basecamp"]
	path = 42_basecamp
	url = git@github.com:willtrigo/42_basecamp.git
[submodule "42_piscine"]
	path = 42_piscine
	url = git@github.com:willtrigo/42_piscine.git
[submodule "42_piscine_reloaded"]
	path = 42_piscine_reloaded
	url = git@github.com:willtrigo/42_piscine_reloaded.git
[submodule "42_libft"]
	path = 42_libft
	url = git@github.com:willtrigo/42_libft.git
[submodule "42_born2beroot"]
	path = 42_born2beroot
	url = git@github.com:willtrigo/42_born2beroot.git
