[submodule "42_basecamp"]
	path = 42_basecamp
	url = git@github.com:willtrigo/42_basecamp.git
[submodule "42_piscine"]
	path = 42_piscine
	url = git@github.com:willtrigo/42_piscine.git
[submodule "42_piscine_reloaded"]
	path = 42_piscine_reloaded
	url = git@github.com:willtrigo/42_piscine_reloaded.git
[submodule "42_libft"]
	path = 42_libft
	url = git@github.com:willtrigo/42_libft.git
[submodule "42_get_next_line"]
	path = 42_get_next_line
	url = git@github.com:willtrigo/42_get_next_line.git
[submodule "42_printf"]
	path = 42_printf
	url = git@github.com:willtrigo/42_printf.git
[submodule "42_born2beroot"]
	path = 42_born2beroot
	url = git@github.com:willtrigo/42_born2beroot.git
[submodule "42_fract-ol"]
	path = 42_fract-ol
	url = git@github.com:willtrigo/42_fract-ol.git
[submodule "42_so_long"]
	path = 42_so_long
	url = git@github.com:willtrigo/42_so_long.git
[submodule "42_minitalk"]
	path = 42_minitalk
	url = git@github.com:willtrigo/42_minitalk.git
